.apresentacao{
    width: 97.5vw;
    height: 98vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 450%;
    font-style:italic;
    color: blue;
    font-family:'Times New Roman', Times, serif;
}